/.ipynb_checkpoints
/1_entregavel
/2_entregavel
/3_entregavel
/AdaBoost.ipynb
/Notas.ipynb
/Rice_Cammeo_Osmancik.xlsx
/Rice_Dataset_Commeo_and_Osmancik
/aula03.ipynb
/aula06.ipynb
/codelab2.ipynb
/codelab9.ipynb
/digitos.ipynb
/estudos
/modulo3
/temperatura.ipynb